<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="circle_small">
        <img
          src="assets/PP_pic.jpeg"
          width="40"
          alt="photo de profile utilisateur"
        />
      </div>

      <div class="circle_big">
        <img
          src="assets/PP_pic2.jpg"
          width="60"
          alt="photo de profile utilisateur"
        />
      </div>

      <div class="circle_border">
        <img
          src="assets/PP_pic.jpeg"
          width="50"
          alt="photo de profile utilisateur"
        />
      </div>

      <div class="square_border">
        <img
          src="assets/PP_pic2.jpg"
          width="50"
          alt="photo de profile utilisateur"
        />
      </div>
    </div>
  </body>
</html>
