<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="notif">
      <div class="notif-container">
        <div class="circle_small">
          <img
            src="assets/PP_pic.jpeg"
            width="50"
            alt="photo de profile utilisateur"
          />
        </div>
        <div>
          <p class="notif-date">14th January</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="notif-options">
        <a href="#"
          >Edit<i class="notif-options-items fas fa-pencil-alt"></i
        ></a>
        <a href="#"
          >Delete<i class="notif-options-items far fa-trash-alt"></i
        ></a>
      </div>
    </div>
  </body>
</html>
