<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Inputs</title>
  </head>
  <body>
    <main>
      <form action="">
        <article>
          <div class="form-group">
            <p class="detail-com">&lt;Input /&gt;</p>
            <label for="">Label</label>
            <input class="defaultInput" type="text" placeholder="Placeholder" />
          </div>
        </article>

        <article>
          <div class="form-group">
            <p class="detail-com">&lt;Input error /&gt;</p>
            <label for="" class="error">Label</label>
            <input class="defaultInput error" type="text" placeholder="Placeholder" />
          </div>
        </article>

        <article>
          <div class="form-group">
            <p class="detail-com">&lt;Input disabled /&gt;</p>
            <label for="">Label</label>
            <input class="defaultInput" type="text" placeholder="Placeholder" disabled />
          </div>
        </article>


      </form>
    </main>
  </body>
</html>
