<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    
<div class="good">
    <p><span class="bold">Yay! 🎉</span> you successfully signed in our service.</p>
    <a href=""><i class="fas fa-times"></i></a>
</div>
<div class="medium">
    <p><span class="bold">Mmh 🤔</span> seems like you don't have profile picture yet.</p>
    <a href=""><i class="fas fa-times"></i></a></div>
<div class="bad">
    <p><span class="bold">Oops! 😱</span> you successfully signed in our service</p>
    <a href=""><i class="fas fa-times"></i></a></div>

</body>
</html>